@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

body{
    padding: 10%;
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif;
}

a{
    color: hsl(120, 100%, 25%);
}

a:visited{
    color: purple;
}

a:hover, a:focus{
    color: hsl(120, 100%, 25%, 0.8);
    background-color: hsla(110, 100%, 50%, 0.24);
}

a:active{
    color: red;
}