@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

body{
    padding: 10%;
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif;
}

p{

    line-height: 1.5em;
    font-style: normal;
}   