@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* UTILITY STYLES */

.nowrap{
    white-space: nowrap;
}

/* GENERAL STYLES */

html{
    scroll-behavior: smooth;
}

body {
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif;
    min-height: 100vh;

    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color: #1e293b;
    color: whitesmoke;
    position: sticky;
    text-align: center;
}

nav{
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-evenly;
}

nav a, nav a:visited{
    color: black;
}

nav a:hover, nav a:focus{
    color: hsla(0, 0%, 20%, 0.6);
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

header{
    top: 0;
}

footer{
    bottom: 0;
}

/* PROFILE */

.card{
    scroll-margin-top: 8rem;
    width: min(100%, 350px); 
    background-color: #cbd5e1;
    border: 2px solid black;
    
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card figure{
    display: flex;
    flex-flow: column nowrap;
}

.card img{
    border: 5px double black;
    border-radius: 50%;
}

.card figcaption{
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

/* SMALL */

@media screen and (min-width: 576px){
    main{
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    .card{
        width: min(100%, 400px);
    }
    .card:last-child{
        order: -1
    }
}

/* MEDIUM */

@media screen and (min-width: 768px){
    nav{
        display: none;
    };
    .card{
        width: min(100%, 325px);
    }
    .card figure{
        flex-flow: column-reverse;
    }
    .card p{
        margin-top: 1rem;
    }
}
/* LARGE */

@media screen and (min-width: 992px){
    .card{
        width: min(100%, 500px);
    }
    .card:nth-child(2){
        order: -1;
    }

}

/* XL */

@media screen and (min-width: 1200px){
    .card{
        width: min(calc(33%-1rem), 500px);
    }
 
}

/* MOBILE DEVICE LANDSCAPE */

@media screen and (max-width: 425px) and (min-aspect-ratio: 7/4){
    h1{
        font-size: 1.rem;
    }
    nav{
        display: none;
    }
    main{
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch
    }
    .card{
        width: min(calc(33%-0.25rem), 200px);
    }
    .card figcaption, .card p{
        font-size: 1.25rem;
    }
}


