*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 10px double red;
    font-size: 1.5rem;
    margin: 1.5em;

    /* margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */

    padding: 1.5em;
    outline: 5px solid yellow;
    outline-offset: -7.5px;
}

.circle{
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 50px;
    outline: 2px solid green;
    outline-offset: 0.25rem;
}
