@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.5rem;
    font-family: 'Google Sans Flex', sans-serif;
}

ul{
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: black;
    margin: 0;
}

li{
    display: inline-block;
    margin-inline: 1rem;    
}  

li a{
    text-decoration: none;
    color: white;
}

li a:hover,
li a:focus{
    text-decoration: underline;
}
