@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

body{
    padding: 5% 10%;
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif;
}

ol{
    list-style-type: lower-alpha;
    padding: 0;
}

ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: rgb(51, 0, 255);
    line-height: 1.6;
    /* list-style-image: url(../images/checkmark.png);
    /* fallback */
    /* list-style: square url(../images/checkmark.png) inside;  */
}

ul li:nth-child(odd){
    color: red;
}

ul ::marker{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    content: "5$ only>> "
}