@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

body{
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif; 
}

.columns{
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333; 
    column-gap: 3rem;
} 

.columns p{
    margin-top: 0;
}

.columns h2{
    margin-top: 0;
    background-color: #333;
    color: white;
    padding: 1rem;
    break-inside: avoid;
}

.columns .quote{
    margin-top: 3rem;
    color: darkgreen;
    text-align: center;
    font-size: 3rem;
    column-span: all;
}

.nowrap{
    white-space: nowrap;
}