@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0.5rem;
    text-align: center;
    font-family: 'Google Sans Flex', sans-serif;
}

nav{
    border: 2px solid #101935;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2{
    padding: 1rem;
    background-color: #FFBC42;
    color: #101935;
    border-radius: 2rem 2rem 0 0;
}

ul{
    list-style-type: none;
}

li{
    border-top: 1px solid #101935;
}

li a{
    display: block;
}

li a,
li:visited{
    text-decoration: none;
    color: #101935;
}

li a:hover,
li a:focus{
    background-color: #101935;
    color: #FFBC42;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}




