@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif; 
    min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute{
    background-color: blue;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1;
}

.relative{
    background-color: red;
    position: relative;
    top: 300px;
    left: 100px;
}

.fixed{
    background-color: green;
    position: fixed;
    top: 100px;
}

.sticky{
    background-color: black ;
    position: sticky;
    top: 0;
}

section{
    height: 100vh;
}

html{
    scroll-behavior: smooth;
}

.blue{
    background-color: #00f;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}

header, footer{
    color: white;
    text-align: center;
    height: auto;
}

header{
    position: sticky;
    top: 0;
    font-size: 5rem;
}

footer{
    background-color: #000;
    font-size: 3rem;
    position: sticky;
    bottom: 0;
}

a{
    color: white;
} 

.social{
    background-color: royalblue;
    padding: 1rem;
    font-size: inherit;
    color: white;
    position: fixed;
    top: 30%;
    z-index: 1;
}