@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

/* Start Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* End Reset */

/* Utility Classes */

.nowrap{
    white-space: nowrap;
}

.offscreen{
    position: absolute;
    left: -10000px;
}

body {
    font-family: "Google Sans Flex", sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image: url(../img/bubbles.png), linear-gradient(to left, steelblue, white);
    background-repeat: repeat-y, no-repeat;
    background-position: right center;
    background-size: 20%, auto;
}

.container{
    background-color: rgb(251, 210, 156);
    background-image: url(../img/map-2176x1451.png);
    background-repeat: repeat; 
    background-size: cover;  
    background-position: bottom right; 
}

.hero{
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    
    background-color: hsla(0, 0%, 0%, 0.414);
}

.h1{
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}

.my-profile-pic{
    width: 35%;
}

.my-profile-pic img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double rgb(255, 255, 255);
    border-radius: 50%;
}

.example{
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img{
    width: 25%;
    height: auto;
}

.clip{
    font-weight: 800;
    font-size: 16rem;
    text-align: center;

    background-image: url(../img/scenic-2200x1331.png);
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0.35);
    background-clip: text;

}