body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(0, 0, 255);
}

p{
    color: rgba(0, 0, 0, 0.75);
}

h1{
    color: #FF0000;
}