@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

body{
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif; 
}

.block{
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: white;
    padding: 1rem;
}

.left{
    float: left;
    margin-right: 1rem;
}

.right{
    float: right;
    margin-left: 1rem;
}

.clear{
    clear: both;
}

section{
    background-color: bisque;
    padding: 1rem;
    border: 1px solid #333;
    display: flow-root;
}