@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz@6..144&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    font-family: "Google Sans Flex", sans-serif;
    padding: 1rem;
    background-color: darkgray;

}

img{
    width: 100%;
    height: auto;
}
.card {
    background-color: whitesmoke;
    height: 490px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #777;
    position: relative;
    padding-bottom: 1.5rem;
}

.card img{
    width: 97%;
    height: auto;
    display: flex;
    border: 1px  black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 0.35rem;
    margin-top: 0.35rem;
}

.nature,
.lake {
    position: absolute;
    top: 14.2rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.6rem;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    color: #2727278d;
}

.nature {
    left: 1.5rem;
}

.lake {
    left: 6.0rem;
}

h2 {
    font-size: 2rem;
    margin: 3.4rem 1.4rem 0.5rem;
    color: black;
}

.paragraph {
    font-size: 1rem;
    padding-top: 0.8rem ;
    margin: 0 1.4rem 1.2rem;
    color: #2727278d;
}


.capsule {
    display: block;          
    width: fit-content;
    margin: 0 auto;          
    padding: 0.7rem 1.2rem;
    font-size: 0.7rem;
    border-radius: 20px;
    color: rgb(0, 157, 255);
    background-color: rgb(224, 243, 255);
    font-weight: bold;
    border: 1px solid;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    justify-items: center;
    padding: 2rem;
    margin-right: 2rem;
}