*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border: 1px solid red;
}

body{
    font-size: 20px;
}

h1, h2{
    color: blue;
}

p{
    color: purple;
}

p{
    color: red;
}

.gray{
    color: grey;
}

.highlight{
    text-transform: uppercase;
    background-color: gold;
}

#second{
    font-style: italic;
}